<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>WebApp Home</title>
</head>
 
<body>
        <div>
            <ul>
           <li><a href="#">Home</a></li>
					<li><a href="queryName">Get Name</a></li>
					<li><a href="queryAddress">Get Address</a></li>
            </ul>
        </div>
 
        <!--div class="jumbotron">
            <h1>Bucket List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div-->
</body>
 
</html>
