<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>WebApp - queryInfo</title>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../static/js/my.js"></script>
</head>
 
<body>
        <div>
            <ul>
                <li><a href="/">Home</a></li>
								<li><a href="queryName">Get Name</a></li>
					      <li><a href="queryAddress">Get Address</a></li>
            </ul>
        </div>
		<form style="text-align:center;">
		    <select name='person'>
			      <option value="select">Select</option>
				  <option value="vivek">vivek</option>
				  <option value="dubey">dubey</option>
			</select>
            <button id="btnGetInfo" type="button">Get Result</button>
			 <button type="reset" value="Reset">Clear</button>
            <br /> <br /> <br /> <br />			
			Result  <br />
			<textarea  name="result" id="result" rows="25" cols="150" style="align:center;">
			</textarea> 
           
		</form>
</body>
 
</html>
